[run]
source =
    api
    custSupApp
    custSupport
relative_files = True
omit =
    */migrations/*
    conftest.py
    manage.py
    custSupport/asgi.py
    custSupport/celery.py
    custSupport/settings.py
    custSupport/test_settings.py
    custSupport/wsgi.py
